# Comprobaciones error de fuente

In [2]:
import pandas as pd

Los ficheros CSV originales contienen registros con fechas de meses (y a√±os) tanto posteriores como anteriores

In [3]:
jan = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2020-01.csv')

/home/david/miniconda3/envs/work/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
jan[(jan['tpep_pickup_datetime'] < '2020-01-01 00:00:00') | (jan['tpep_pickup_datetime'] > '2020-01-31 24:00:00')]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
7,2.0,2019-12-18 15:27:49,2019-12-18 15:28:59,1.0,0.00,5.0,N,193,193,1.0,0.01,0.0,0.0,0.00,0.0,0.3,2.81,2.5
8,2.0,2019-12-18 15:30:35,2019-12-18 15:31:35,4.0,0.00,1.0,N,193,193,1.0,2.50,0.5,0.5,0.00,0.0,0.3,6.30,2.5
796,2.0,2019-12-31 23:48:07,2019-12-31 23:53:39,1.0,0.88,1.0,N,41,41,2.0,6.00,0.5,0.5,0.00,0.0,0.3,7.30,0.0
1276,2.0,2019-12-31 23:59:40,2020-01-01 00:09:06,2.0,2.19,1.0,N,231,158,1.0,9.50,0.5,0.5,2.66,0.0,0.3,15.96,2.5
1419,2.0,2019-12-31 23:56:19,2020-01-01 00:15:43,1.0,3.74,1.0,N,162,158,1.0,15.00,0.5,0.5,5.64,0.0,0.3,24.44,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6338826,2.0,2020-02-01 00:01:42,2020-02-01 00:12:25,1.0,1.93,1.0,N,100,162,1.0,9.00,0.5,0.5,3.20,0.0,0.3,16.00,2.5
6339106,2.0,2020-02-01 00:00:03,2020-02-01 00:13:39,1.0,2.37,1.0,N,163,249,1.0,11.00,0.5,0.5,2.96,0.0,0.3,17.76,2.5
6339239,2.0,2020-02-01 00:08:34,2020-02-01 00:26:14,2.0,3.22,1.0,N,148,246,1.0,14.00,0.5,0.5,3.56,0.0,0.3,21.36,2.5
6339482,2.0,2020-02-01 00:00:07,2020-02-01 00:00:14,1.0,0.00,5.0,N,265,264,1.0,228.00,0.0,0.5,45.76,0.0,0.3,274.56,0.0
6339553,2.0,2020-02-01 00:00:37,2020-02-01 00:11:59,1.0,1.18,1.0,N,186,170,1.0,8.50,0.5,0.5,2.46,0.0,0.3,14.76,2.5

In [4]:
jan[jan['tpep_pickup_datetime'] < '2020-01-01 00:00:00']

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
7,2.0,2019-12-18 15:27:49,2019-12-18 15:28:59,1.0,0.00,5.0,N,193,193,1.0,0.01,0.0,0.0,0.00,0.00,0.3,2.81,2.5
8,2.0,2019-12-18 15:30:35,2019-12-18 15:31:35,4.0,0.00,1.0,N,193,193,1.0,2.50,0.5,0.5,0.00,0.00,0.3,6.30,2.5
796,2.0,2019-12-31 23:48:07,2019-12-31 23:53:39,1.0,0.88,1.0,N,41,41,2.0,6.00,0.5,0.5,0.00,0.00,0.3,7.30,0.0
1276,2.0,2019-12-31 23:59:40,2020-01-01 00:09:06,2.0,2.19,1.0,N,231,158,1.0,9.50,0.5,0.5,2.66,0.00,0.3,15.96,2.5
1419,2.0,2019-12-31 23:56:19,2020-01-01 00:15:43,1.0,3.74,1.0,N,162,158,1.0,15.00,0.5,0.5,5.64,0.00,0.3,24.44,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4715309,2.0,2009-01-01 00:02:54,2009-01-01 00:02:58,1.0,0.01,1.0,N,264,264,2.0,2.50,0.0,0.5,0.00,0.00,0.3,3.30,0.0
5086498,2.0,2008-12-31 23:02:40,2009-01-01 05:46:33,1.0,8.48,1.0,N,43,138,1.0,24.00,0.5,0.5,6.78,6.12,0.3,40.70,2.5
5086894,2.0,2008-12-31 23:03:44,2009-01-01 05:32:14,1.0,1.10,1.0,N,262,140,1.0,6.00,0.5,0.5,1.00,0.00,0.3,10.80,2.5
5240836,2.0,2009-01-01 00:08:44,2009-01-01 02:50:15,1.0,4.56,1.0,N,170,41,1.0,15.00,0.5,0.5,3.76,0.00,0.3,22.56,2.5
5687204,2.0,2009-01-01 10:04:58,2009-01-01 10:19:14,1.0,1.40,1.0,N,43,163,2.0,10.50,0.0,0.5,0.00,0.00,0.3,13.80,2.5

In [5]:
##################################################################################################################################

In [6]:
feb = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2020-02.csv')

/home/david/miniconda3/envs/work/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
feb[(feb['tpep_pickup_datetime'] < '2020-02-01 00:00:00') | (feb['tpep_pickup_datetime'] > '2020-02-31 24:00:00')]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
48,2.0,2020-01-31 23:57:33,2020-02-01 00:11:36,1.0,3.24,1.0,N,239,42,1.0,13.5,0.5,0.5,2.00,0.00,0.3,19.30,2.5
134,2.0,2020-01-31 23:53:59,2020-02-01 00:01:41,6.0,1.71,1.0,N,162,107,1.0,7.5,0.5,0.5,2.26,0.00,0.3,13.56,2.5
139,2.0,2020-01-31 23:59:16,2020-02-01 00:19:53,1.0,4.64,1.0,N,48,7,1.0,18.0,0.5,0.5,4.36,0.00,0.3,26.16,2.5
284,2.0,2020-01-31 23:59:20,2020-02-01 00:02:26,1.0,0.55,1.0,N,233,233,2.0,4.0,0.5,0.5,0.00,0.00,0.3,7.80,2.5
302,2.0,2020-01-31 23:57:42,2020-02-01 00:05:57,1.0,1.44,1.0,N,141,262,2.0,7.5,0.5,0.5,0.00,0.00,0.3,11.30,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6247201,2.0,2020-03-01 00:04:45,2020-03-01 00:10:22,1.0,1.33,1.0,N,50,68,1.0,6.5,0.5,0.5,2.06,0.00,0.3,12.36,2.5
6248983,2.0,2020-03-01 00:03:51,2020-03-01 00:22:35,1.0,4.17,1.0,N,263,79,1.0,15.5,0.5,0.5,4.82,0.00,0.3,24.12,2.5
6249641,2.0,2020-03-01 00:01:02,2020-03-01 00:15:31,1.0,7.75,1.0,N,132,95,1.0,23.5,0.5,0.5,2.00,0.00,0.3,26.80,0.0
6249799,2.0,2020-03-01 00:00:08,2020-03-01 00:29:34,2.0,10.23,1.0,N,107,227,1.0,31.5,0.5,0.5,8.58,6.12,0.3,50.00,2.5
6250401,2.0,2020-03-01 00:00:23,2020-03-01 00:12:04,1.0,1.01,1.0,N,107,79,1.0,8.5,0.5,0.5,2.46,0.00,0.3,14.76,2.5

In [8]:
##################################################################################################################################

In [9]:
mar = pd.read_csv('https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2020-03.csv')

/home/david/miniconda3/envs/work/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
mar[(mar['tpep_pickup_datetime'] < '2020-03-01 00:00:00') | (mar['tpep_pickup_datetime'] > '2020-03-31 24:00:00')]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
108,2.0,2020-02-29 23:56:15,2020-03-01 00:07:49,3.0,1.58,1.0,N,234,170,1.0,9.0,0.5,0.5,2.56,0.00,0.3,15.36,2.5
127,2.0,2020-02-29 23:02:59,2020-03-01 22:24:52,1.0,16.92,2.0,N,132,170,2.0,52.0,0.0,0.5,0.00,6.12,0.3,58.92,0.0
174,2.0,2020-02-29 23:58:05,2020-03-01 00:12:18,1.0,3.18,1.0,N,48,24,1.0,13.0,0.5,0.5,3.36,0.00,0.3,20.16,2.5
215,2.0,2020-02-29 23:58:36,2020-03-01 00:02:37,2.0,0.68,1.0,N,79,114,1.0,4.5,0.5,0.5,1.00,0.00,0.3,9.30,2.5
271,2.0,2020-02-29 23:54:51,2020-03-01 00:14:28,1.0,2.61,1.0,N,79,170,2.0,13.5,0.5,0.5,0.00,0.00,0.3,17.30,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2969428,2.0,2020-02-02 16:48:23,2020-02-02 17:05:50,1.0,2.43,1.0,N,246,142,2.0,13.0,0.5,0.5,0.00,0.00,0.3,16.80,2.5
2969429,2.0,2020-02-02 17:07:11,2020-02-02 17:17:00,1.0,2.18,1.0,N,43,236,1.0,9.5,0.5,0.5,2.66,0.00,0.3,15.96,2.5
2969430,2.0,2020-02-02 17:19:10,2020-02-02 17:24:48,1.0,0.97,1.0,N,236,262,1.0,6.0,0.5,0.5,1.00,0.00,0.3,10.80,2.5
2969617,2.0,2020-02-02 17:29:08,2020-02-02 17:39:42,1.0,1.74,1.0,N,263,239,1.0,9.0,0.5,0.5,3.20,0.00,0.3,16.00,2.5
2969618,2.0,2020-02-02 17:53:35,2020-02-02 18:01:41,1.0,1.44,1.0,N,41,166,1.0,7.5,0.5,0.5,1.76,0.00,0.3,10.56,0.0

In [6]:
jan['id'] = [x+1 for x in range(len(jan))]

In [4]:
len(jan)

6405008

In [8]:
jan.insert(0, 'i', [x+1 for x in range(len(jan))])
jan

,iddd,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,id
0,1,1.0,2020-01-01 00:28:15,2020-01-01 00:33:03,1.0,1.20,1.0,N,238,239,1.0,6.00,3.00,0.5,1.47,0.00,0.3,11.27,2.5,1
1,2,1.0,2020-01-01 00:35:39,2020-01-01 00:43:04,1.0,1.20,1.0,N,239,238,1.0,7.00,3.00,0.5,1.50,0.00,0.3,12.30,2.5,2
2,3,1.0,2020-01-01 00:47:41,2020-01-01 00:53:52,1.0,0.60,1.0,N,238,238,1.0,6.00,3.00,0.5,1.00,0.00,0.3,10.80,2.5,3
3,4,1.0,2020-01-01 00:55:23,2020-01-01 01:00:14,1.0,0.80,1.0,N,238,151,1.0,5.50,0.50,0.5,1.36,0.00,0.3,8.16,0.0,4
4,5,2.0,2020-01-01 00:01:58,2020-01-01 00:04:16,1.0,0.00,1.0,N,193,193,2.0,3.50,0.50,0.5,0.00,0.00,0.3,4.80,0.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6405003,6405004,NaN,2020-01-31 22:51:00,2020-01-31 23:22:00,NaN,3.24,NaN,NaN,237,234,NaN,17.59,2.75,0.5,0.00,0.00,0.3,21.14,0.0,6405004
6405004,6405005,NaN,2020-01-31 22:10:00,2020-01-31 23:26:00,NaN,22.13,NaN,NaN,259,45,NaN,46.67,2.75,0.5,0.00,12.24,0.3,62.46,0.0,6405005
6405005,6405006,NaN,2020-01-31 22:50:07,2020-01-31 23:17:57,NaN,10.51,NaN,NaN,137,169,NaN,48.85,2.75,0.0,0.00,0.00,0.3,51.90,0.0,6405006
6405006,6405007,NaN,2020-01-31 22:25:53,2020-01-31 22:48:32,NaN,5.49,NaN,NaN,50,42,NaN,27.17,2.75,0.0,0.00,0.00,0.3,30.22,0.0,6405007
6405007,6405008,NaN,2020-01-31 22:44:00,2020-01-31 23:06:00,NaN,11.60,NaN,NaN,179,205,NaN,54.56,2.75,0.5,0.00,0.00,0.3,58.11,0.0,6405008